html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 10% 1fr 3%;
    grid-template-areas: "header" "content" "footer";
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #1584de;
}

.white-text{
    color: #ffffff;
}

.left-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: left-menu;
    background-color: chocolate;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: content;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: #1584de;
}

.semBorda tr, .semBorda td {
    border: none !important;
    background: transparent !important;
}

