html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 1fr 3%;
    grid-template-areas: "left-menu header" "left-menu content" "left-menu footer";
}

.white-text{
    color: #ffffff;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #1584de;
}

.left-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: left-menu;
    background-color: #5bb3ff;
    padding: 20px;
    position: fixed;
    width: 18%;
    height: 100%;
}

.content {
    grid-area: content;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: #1584de;
}

.semBorda tr, .semBorda td {
    border: none !important;
    background: transparent !important;
}

.card {
    border: solid 1px #b5c3c5;
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 5px 5px #dedede;
    border-radius: 20px;
}

.name-artista {
    font-size: 2.0em;
    font-weight: bold;
}

.item-menu {
    text-decoration: none;
    font-size: 1.3em;
    background-color: #ffffff;
    color: #1584de;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 100% !important;
    border: solid 1px #b5c3c5;
}

.item-menu:hover {
    color: #ffffff;
    background-color: #1584de;
    border: solid 1px #ffffff;
}

.card-letra {
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #2d3435;
    margin: 15px;
    padding: 15px;
    width: 60%;
}

.container-card-letra {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

